html,body{
  background: $bg-body;
  font-family: $font-family-main;
  font-size: $font-size-main;
}
body{
  margin:0 auto;
}
ol,ul{
  font-size:0;
  padding:0;
}
.container{
  margin:0 auto;
  width: 1440px;
  padding:90px;
  padding-top:30px;
}