$bg-body:#f9f7ee;
$bg-white:#ffffff;

$yellow-dots:#e0dfca;
$blue-lanes:#cbdbec;

$font-blue:#2073b3;
$font-black:#231f20;
$font-grey: #8d8d8d;
$font-links:#0072bc;
$font-red:#F6402B;

$input-border:#8d8d8d;