$font-family-main: Arial, sans-serif;

$font-size-main:16px;
$font-size-smaller:14px;
$font-size-large:18px;
$font-size-h2:32px;
$font-size-error-msg:10px;

$transition-fast:.5s;
$transition-regular:1s;
$transition-slow:1.5s;
